.sliderContenu{
    float: left;
    width: 50%;
}

.sliderImage{
    float: left;
    width: 50%;
    img{
        width: 100%;
    }
}

.owl-nav{
    .owl-prev, .owl-next{
        height: 50px;
        width: 50px;
        position: absolute;
        top: calc(50% - 25px);
        background-color: $gris;
        @include border-radius(50%);
        color: #fff;
        line-height:50px;
        text-align: center;
    }

    .owl-prev{
        left: 0px;
    }

    .owl-next{
        right: 0px;
    }
}